<!doctype html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="" />
    <title>Surfer</title>
    <base href="./" />
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
